<nav>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Dashboard</a></li>
    <!-- Dynamic -->
    <li><a href="">Login/Logout</a></li>
  </ul>
</nav>
<main>
  <h1>A Tech Blog</h1>
</main>
<section>
  <!-- Dynamic -->
  <article>
    <h2>Blog Title</h2>
    <h3>Author and Date</h3>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        pharetra diam volutpat purus faucibus, sed consequat magna feugiat.
        Suspendisse imperdiet eu enim et hendrerit. Maecenas sagittis eget ipsum
        vitae consequat. Sed porta aliquet urna vel mollis. Pellentesque
        blandit, purus dignissim dapibus condimentum, sapien sem tristique
        ipsum, condimentum porta elit enim id ipsum. Duis sit amet blandit
        metus. Phasellus consectetur odio vitae arcu imperdiet, volutpat
        facilisis justo mattis.
      </p>
    </div>
  </article>
</section>